.user {
    font-size: 50px;
    margin-left: 8px;
}

.user-name {
    font-size: 1.2rem;
}

.logotipo {
    max-width: 200px;
    height: auto;
    padding: 15px;
}

.logotipo-sidebar {
    max-width: 130px;
    height: auto;
}

.logotipo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
}

#userDropdown::after,
#guestDropdown::after {
    display: none !important;
}

nav {
    background-image: url("../assets/img/foto-mar-navbar.jpg");
}
.custom-btn-sucess {
    background-image: url("../assets/img/foto-mar-navbar.jpg");
    color: black !important;
}

.custom-btn-sucess:hover {
    color: white !important;
}

.custom-body-bg,
.offcanvas-body-bg {
    background-color: #fcf6e4 !important;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus {
    font-size: 30px;
}

.edit-pencil {
    font-size: 30px;
}

.delete-trash {
    font-size: 30px;
}

.align-middle {
    vertical-align: middle!important;
}

.card-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
