.user {
    font-size: 50px;
    margin-left: 8px;
}

.user-name {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.logotipo {
    max-width: 200px;
    height: auto;
    padding: 15px;
}

.logotipo-sidebar {
    max-width: 130px;
    height: auto;
}

.logotipo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
}

#userDropdown::after,
#guestDropdown::after {
    display: none !important;
}

.custom-navbar {
    background-image: url("../assets/img/foto-mar-navbar.jpg");
}

.custom-btn-sucess {
    background-image: url("../assets/img/foto-mar-navbar.jpg");
    color: black !important;
}

.custom-btn-sucess:hover {
    color: white !important;
}

.custom-body-bg,
.offcanvas-body-bg {
    background-color: #fcf6e4 !important;
    font-family: Arial, sans-serif;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus {
    font-size: 30px;
}

.edit-pencil {
    font-size: 30px;
}

.delete-trash {
    font-size: 30px;
}

.align-middle {
    vertical-align: middle!important;
}

.card-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.image-center {
    display: block;
    margin: 0 auto;
    max-width: 80px;
}

.edit-modal {
    max-height: 60vh;
    overflow-y: auto;
}

.edit-modal::-webkit-scrollbar {
    width: 8px;
}

.edit-modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.edit-modal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.edit-modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-select-wrapper {
    position: relative;
}

.custom-select {
    appearance: none; /* Remove o estilo padrão do select */
    background-color: #f8f9fa; /* Cor de fundo leve */
    border: 1px solid #ced4da; /* Borda padrão do Bootstrap */
    border-radius: 0.50rem; /* Bordas arredondadas */
    padding: 0.5rem 1.5em 0.5rem 1rem; /* Ajuste o padding para espaço para a seta */
    transition: border-color 0.15s ease-in-out; /* Transição suave na borda */
    width: 100%; /* Faz o select ocupar toda a largura */
}

.custom-select:focus {
    border-color: #80bdff; /* Cor da borda ao focar */
    outline: 0; /* Remove o contorno padrão */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra ao focar */
}

.custom-select::after {
    content: '▼'; /* Adiciona uma seta */
    position: absolute;
    right: 1rem; /* Espaço à direita */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste vertical */
    pointer-events: none; /* Ignora eventos de clique na seta */
}

.attribute-select[multiple] {
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.actions-card {
    width: 1000px; /* Largura máxima da card */
    margin: 0 auto; /* Centraliza horizontalmente, mas remove margens verticais */
    padding: 0; /* Ajuste conforme necessário */
    border: 1px solid #dee2e6; /* Borda padrão */
    border-radius: 0.25rem; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

*, *::before, *::after {
    box-sizing: border-box; /* Facilita o controle sobre tamanho */
}

.checkbox-group {
    margin-top: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* Espaço entre as checkboxes */
}

.form-check-input {
    -webkit-appearance: none; /* Remove a aparência padrão */
    -moz-appearance: none;    /* Remove a aparência padrão */
    appearance: none;         /* Remove a aparência padrão */
    width: 20px;              /* Tamanho da checkbox */
    height: 20px;             /* Tamanho da checkbox */
    margin-right: 10px;       /* Espaço entre checkbox e label */
    border-radius: 5px;       /* Arredonda as bordas */
    border: 2px solid #007bff; /* Borda padrão */
    cursor: pointer;          /* Cursor de ponteiro */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.form-check-input:checked {
    background-color: #007bff; /* Cor ao marcar */
    border-color: #0056b3;     /* Cor da borda ao marcar */
}

/* Adiciona um efeito visual ao passar o mouse */
.form-check:hover .form-check-label {
    color: #007bff; /* Muda a cor ao passar o mouse */
}

/* Efeito de foco */
.form-check-input:focus {
    outline: none; /* Remove a borda padrão ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave */
}

.form-group {
    margin-top: 20px; /* Espaço acima do grupo de formulário */
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-file-input {
    display: none; /* Esconde o input padrão */
}

.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px dashed #007bff; /* Borda em estilo pontilhado */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #f8f9fa; /* Fundo claro */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.custom-file-label:hover {
    background-color: #e9ecef; /* Fundo mais escuro ao passar o mouse */
    border-color: #0056b3; /* Borda mais escura ao passar o mouse */
}

.custom-file-input:focus + .custom-file-label {
    outline: none; /* Remove a borda padrão ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave */
}

/* Exibir o nome do arquivo selecionado */
.custom-file-input:focus ~ .custom-file-label::after {
    content: "Escolher arquivo"; /* Texto padrão */
}

.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
    border: none !important;
    margin-left: 5%;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.profile-header {
    margin-bottom: 2rem;
}

.profile-header h1 {
    font-size: 3rem;
}

.district-header {
    margin-bottom: 2rem;
}

.district-header h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding-top: 5rem;
}

.profile-section {
    margin-bottom: 2rem;
}

.districts-section {
    margin-bottom: 2rem;
}

.districts-section h2 {
    font-size: 3rem;
}

.section-title {
    font-size: 2rem;
}

.district-view-card {
    background-color: #f4f4f4;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
    min-height: 150px; /* Definindo uma altura mínima para as cards */
}

.profile-view-card-img-top {
    min-height: 350px; /* Definindo uma altura mínima para as cards */
}

.district-view-card:hover {
    transform: translateY(-10px);
}

.district-view-card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #f4f4f4;
    color: #888;
}

.district-view-card-body {
    padding: 1rem;
    position: relative;
    flex-grow: 1;
}

.district-view-card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.district-view-card-text {
    margin-bottom: 1.25rem;
    flex-grow: 1;
}

.district-icon-link {
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    font-size: 2.5rem;
    color: #007bff;
    transition: color 0.3s;
}

.district-icon-link:hover {
    color: #0056b3;
}

.julee-regular {
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}

.district-container {
    padding-left: 150px!important;
    padding-right: 150px!important;
    box-sizing: border-box;
}

.region-header {
    margin-bottom: 2rem;
}

.region-header h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    padding-top: 5rem;
}

.regions-section {
    margin-bottom: 2rem;
}

.regions-section h2 {
    font-size: 4rem;
    padding-top: 5rem;
}

.regions-section h3 {
    font-size: 3rem;
}

.section-title {
    font-size: 2rem;
}

.profile-header {
    margin-bottom: 2rem;
}

.profile-header h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.profile-view-card,
.custom-profile-card {
    min-height: 300px; /* Altura mínima para as cards */
    background-color: #ffffff; /* Cor de fundo branca */
    border: 1px solid #dee2e6; /* Borda padrão */
    border-radius: 0.25rem; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.profile-view-card .card-body,
.custom-profile-card .card-body {
    padding: 2rem; /* Espaçamento interno */
}

.profile-view-card .card-body img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-view-card .text-end,
.custom-profile-card .text-end {
    margin-top: auto;
}

.profile-view-card .text-end a,
.custom-profile-card .text-end a {
    display: inline-flex;
    align-items: center;
}

.profile-view-card .text-end a i,
.custom-profile-card .text-end a i {
    margin-left: 5px;
}

.profile-icon-link {
    font-size: 2rem;
    color: #007bff;
    transition: color 0.3s;
}

.profile-icon-link:hover {
    color: #0056b3;
}

.navbar-user-image {
    max-width: 50px!important;
    max-height: 50px!important;
    width: 50px!important;
    height: 50px!important;
}

/* View do local específico */

.local-container {
    margin-left: 150px !important;
}

.icon-text-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.place_icon {
    font-size: 40px; /* Ajustar o tamanho do ícone conforme necessário */
    height: auto;
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.icon-text-container p {
    margin: 0; /* Remove a margem padrão do parágrafo para melhor o alinhamento */
}

.image-description-container {
    display: flex;
    align-items: flex-start; /* Alinha verticalmente a imagem e o texto */
    gap: 20px; /* Espaçamento entre a imagem e a descrição */
}

.local-image-container {
    text-align: center; /* Centraliza a imagem dentro do container */
    flex: 1;
    width: 20%;
    max-width:400px;
    margin: auto;
}

.local-image {
    max-width: 100%; /* Ajusta a imagem para não ultrapassar o container */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem é um bloco e que aceita margens */
}

.description-container {
    flex: 1;
    margin-top: 20px; /* Está a alinhar verticalmente a descrição com a imagem*/
}

.local-subtitle {
    font-size: 35px;
}

.description_icon {
    font-size: 25px; /* Ajustar o tamanho do ícone conforme necessário */
    height: auto;
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.description-container .icon-text-container {
    gap: 10px;
}

.local_description_info {
    flex-direction: column;
    align-items: flex-start;
}

.local_description_info_row {
    display: flex; /* Serviu para colocar cada ícone ao lado de cada parágrafo, em vez de ser um por cima do outro */
    align-items: flex-start !important;
    gap: 10px;
}
